<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <title>Custom From | Login</title>

    <link
      rel="canonical"
      href="https://getbootstrap.jp/docs/5.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link
    href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form>
        <img
          class="mb-4"
          src="https://user-images.githubusercontent.com/1961946/164987417-440551e8-15ee-4436-9009-ae051b9cab58.png"
          alt="OEM Form"
          width="250"
        />
        <div class="login-box auth0-box before">
          <a
            class="w-100 btn btn-primary btn-lg btn-login btn-block"
            href="/login"
            >ログイン</a
          >
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>
  </body>
</html>
